<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> {{title}} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<div class="text-center">
		<div class="world-stat" style="background:#f2f2f2; padding-top:2%;">
			<p> {{ figure1.info }} </p>

			<img src="{{figure1.image}}" alt="{{figure1.alt}}">
		</div>

		<div class="penetration-stat" style="background:#e6e6e6; padding-top:2%;">
			<p> {{figure2.info}} </p>

			<img src="{{figure2.image}}" alt="{{figure2.alt}}" style="width:90%;height:600px;">
		</div>
	</div>

</body>

</html>